*{box-sizing: border-box;
    padding:0px;
    margin:0px;
   
  }

  .con1 {
    position: relative;
  
    text-align: center;
    color: white;
   
  
  }

  &::after{
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 705px;
    background-image: linear-gradient(to bottom right,blue , red);
    opacity: 0.5;
    z-index: 2;
  
  }

  .centered {
    position: absolute;
    top:13%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    letter-spacing: 7px;
    z-index: 5;
   
  
  }

  .begin{
    text-align: center;
    font-size: 180%;
    color: #2E475D; 
    margin-left: 20%; 
    margin-right: 20%;
  }


  #slider{
    overflow: hidden;
  }

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left:0;
    animation: 20s slider infinite;
}

#slider figure img {
    width:20%;
    float: left;
    height: 800px;
    border: 5px solid #000000;
   
}


@keyframes slider{
    0% {
        left:0%;
    }
    20% {
        left:0%;
    }
    25% {
        left:-100%;
    }
    45% {
        left:-100%;
    }
    50% {
        left:-200%;
    }
    70% {
        left:-200%;
    }
    75% {
        left:-300%;
    }
    85% {
        left:-300%;
    }
    90% {
        left:-400%;
    }
    100% {
        left:-400%;
    }

}













.vision {
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: -30%;
  }
  .vision-content {
    width: 100%;
    height: 70vh;
    padding: 20px;
    align-items: center;
    border: 0.2rem solid var(--main-color);
    display: flex;
  }
  .vision-content img {
    width: 600px;
    height: 400px;
    margin-top: -5px;
    border: 0.2rem solid var(--bg-color);
  }
  
  .vision {
    background: var(--second-bg-color);
  }
  .vision h2 {
    margin-bottom: 4rem;
  }
  .portfolio-box img {
    width: 600px;
    height: 400px;
  }
  
  .vision-content {
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
  }
  .vision-content .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
  }
  .portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
  }
  .portfolio-box:hover img {
    transform: scale(1.1);
  }
  .portfolio-box .protfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), yellow);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transform: translateY(100%);
    transition: 0.5s ease;
   
  }
  .portfolio-box:hover .protfolio-layer {
    transform: translateY(0);
  }
  .protfolio-layer h4 {
    font-size: 3rem;
  }
  .protfolio-layer p {
    font-size: 1.2rem;
    margin: 0.3rem 0 1rem;
  }
  .protfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
  }
  .protfolio-layer a i {
    font-size: 2rem;
  }


  .lines{
    width: 100%;
    height: 45px;
    position: relative;
  }
  
  .lines::after, .lines::before{
    content:'';
    position:absolute;
    margin: auto;
    height: 5px;
    background: #000000;
    width: 25%;
    top: 45%;
  }
  
  .lines::after{
    left: 20%;
  }
  .lines::before{
    right: 20%;
  }
  
  .circle{
    height: 40px;
    width: 40px;
    border: 20px solid #ffbb00;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  



  #p2{
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:#2E475D;
    margin-left: 10%;
    margin-right: 10%;
  }
  