



.menu_bar_top{
	background-color:rgb(251, 255, 4);
	height:40px;
	width:100%;	
  position: relative;
  cursor: pointer;
 
}




.fa {
  float:right;
  padding: 1px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
 
 

}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
 background: #3B5998;
  color: white;
 
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: red;
}